*{
    margin: 0;
    padding: 0;
  }
  html{
  }
  body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    }
  .sortable-handler {
    touch-action: none;
  }

  ::-webkit-scrollbar{
    width: 0px;
  }
  .navbar-toggler:focus{
    box-shadow: none !important;
  }

  h1{

  }

  h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
  }

  h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #282938;
  }
  #main{
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin-top: 75px;
  }

  .gap{
    height: 96px;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border: none;
}

  /* Loder Css  */

  .simple_nav{
    background-color: white;
    transition: 1s;
    z-index: 999;
    offset: 0;
    position: relative;
    overflow-x: scroll;
    width: 100%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    position: unset;
  }

  .simple_nav .navbar-nav{
    min-width: 700px;
  }

  .simple_nav ul{
    gap: 50px;
  }
  .stuck{
    position: fixed;
    width: 100%;
    transition: 1s;

  }
  
  #preloader{
    position: absolute;
    width:100%;
    height: 100%;
    background: linear-gradient(89.89deg, #085BD8 0.1%, #052D68 99.92%);
    z-index: 99999;
  }
  .spinner-border {
    position: absolute;
    top: 45%;
    left: calc(53% - 20px);
    color: #ffffff;
}
  select {
    appearance: none;
  }

  /* Loader Css Ended  */





.gap_96{
    height: 96px;
  }
  .gap_64{
    height: 64px;
  }




  

  
  /* Code for Navabr started  */
  .navbar{
    background: #ffffff;
    box-shadow: -4px 4px 18px rgba(34, 82, 155, 0.1);
  }

  .navbar {
    padding-top: 1.0rem;
    padding-bottom: 1.3rem;
  }
  
  #navbarSupportedContent .dropdown-menu{
    top:118%;
  }
  
  
  
 .navbar-light .nav-item{
    padding: 0px 12px;
    padding: 0px 12px;
    align-items: center;
  }

  .btn-outline{
    box-sizing: border-box;
    Padding: 10px 35px 10px 35px;
    border-radius: 10px;
    justify-content: center;
    border: 2px solid #085BD8;
    color: #085BD8;
    width: #085BD8;
    font-weight: 600;
  }

  .user-nav-item a{
    padding:0px !important;
  } 

  .user-nav-item span{
    padding: 0px 5px;
    padding-bottom: 0px !important;
  }
  
  ul.dropdown-menu{
    box-shadow: -4px 4px 18px rgba(34, 82, 155, 0.1);
    border: none
  }
  ul.dropdown-menu li a:hover{
    transition: .5s;
  }
  ul.dropdown-menu li a:hover{
    background-color: #085BD8;
    color: white;
   
  }
  .dropdown-toggle::after {
    display: none;
}
.arrow{
  margin-left: 5px;
}
.nav-link.active{
  border-bottom: 2px solid #085BD8 ;
  
}

.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-nav li a {
  color:rgba(0,0,0,.55);
  font-size: 16px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #223550 !important;
}

  

/* Banner section CSS has been started -------------------------- */
#banner{
    background: linear-gradient(89.89deg, #085BD8 0.1%, #052D68 99.92%);
    min-height: 512px;
  }
  .banners_content {
    min-height: 513px;
    align-items: center;
  }
  .banners_left_content h1{
    text-transform: uppercase;
    max-width:550px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .banners_left_content p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 25px;
    margin-bottom: 70px;
  }
  .company_colored_name{
    color: #f9ca25;
  }
  .banners_left_content p{
    max-width: 559px;
    width:100%;
    font-size: 16px;
    line-height: 19px;
    font-family: Inter;
    font-style: normal;
    
  }
  .white_btn{
    display: inline-block;
    background-color: #ffffff;
    color: #085BD8;
    text-decoration:none;
    border: #ffffff;
    Padding :10px 20px 10px 20px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    min-width: 133px;
    text-align: center;
    transition: 1s;
  
  }
  
  .white_btn:hover {
    display: inline-block;
    background: linear-gradient(329.39deg, #085BD8 -10.96%, rgba(8, 91, 216, 0.4) 103.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }
  
  .white_btn path {
    transition: 1s;
  }
  .white_btn:hover path {
    fill: white;
  }
  
  
  .blue_btn{
    display: inline-block;
    background: transparent;
    color: white;
    text-decoration:none;
    border: 1px solid #ffffff;
    Padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    min-width: 133px;
    text-align: center;
    transition: 1s;
    background-color: #085BD8
    ;
  }
  
  .blue_btn:hover {
    display: inline-block;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #085BD8;
    border: 1px solid transparent;
  }
  
  
  
  .banners_content{
    padding: 0px 50px;
  }
  .banners_left_content .blue_btn{
    margin-left: 24px;
  }
  
  .banner_right_content{
    margin-top: 110px;
  
  }
  
  .banner_right_content img{
    animation: banner_float 10s ease-in-out infinite;
  }
  
  .float{
    animation: float 5s ease-in-out infinite;
  }
  .goal_section_left {
    animation: float 5s ease-in-out infinite;
    position: relative;
  }
  
  .goal_floating_images_left{
    max-width: 485px;
    width: 75%;
    margin: auto;
  }
  
  .goal_floating_images_left .parent_image {
    animation: float 5s ease-in-out infinite;
  }
  
  .goal_floating_images_left .left_children_image{
    position: absolute;
    height: 38%;
    top: 26%;
    left: -17%;
    animation: float_left_right 10s ease-in-out infinite;
  
  }
  
  
   .goal_floating_images_left .right_children_image{
    position: absolute;
    height: 38%;
    bottom: 14%;
    right: -16%;
    animation: reverse_float 6s ease-in-out infinite;
  
  }
  
  
  .goal_floating_images_right  .parent_image {
    animation: float 5s ease-in-out infinite;
  }
  .goal_floating_images_right{
    position: relative;
      max-width: 564px;
      width: 100%;
      margin: auto;
  }
  
  .gear{
    position: absolute;
    bottom: -11%;
    right: 0px;
    height: 23%;
    animation: spin 5s ease-in-out infinite;
  
  }
  
  
  .goal_section_left .right_child, .goal_section_left .left_child, .goal_section_right svg {
    animation: float_left_right 5s ease-in-out infinite;
  }
  
  .goal_section_right .gear{
     transform: rotate(10deg);
  }
  
  
  @keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
  }
  
  @keyframes reverse_float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(8px);
    }
    100% {
      transform: translatey(0px);
    }
    }
    
  
  @keyframes banner_float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-30px);
    }
    100% {
      transform: translatey(0px);
    }
    }
  
  @keyframes float_left_right {
    0% {
      transform: translatey(0px) translatex(0px);
  
    }
    50% {
      transform: translatey(30px) translatex(10px);
  
  
    }
    100% {
      transform: translatey(0px) translatex(0px);
  
  
    }
    }
  
    @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
  
  /* Banner section has been ended */ 
  
  


/* Client review section  */

#clinet_review{
    background: #F5F6F9;
  }
  #clinet_review .row{
    min-height:632px;
  }
  
  .client_review_left p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width:327px ;
    width: 100%;
    margin: auto 0px;
    margin-top: 16px;
  }
  
  .client_review_left h2{
  
    line-height: 56px;
    color: #282938;
    max-width:351px;
    margin: auto 0px;
    width: 100%;
  }
  
  .client_review_right{
    margin-top: 95px;
  }
  .client_review_right p{
    font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #282938;
  max-width: 843px;
  width: 100%;
  }
  
  .reviewer{
    margin-top: 48px;
  }
  
  p.reviwer_rank {
    line-height: 28px;
  }
  .reviwer_name{
    margin-left: 18px;
  
  }
  .reviewer img{
    height:53px;
    width: 53px;
  }
  
  .reviewer h5{
    font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #282938;
  margin-bottom: 0px;
  }
  .reviewer p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #282938;
  }
  
  .review_slider{
    position: relative;
  }
  .review_slider .slick-prev{
    transform: rotate(180deg);
    position: absolute;
    right: 20px;
    bottom: 40PX;
    z-index: 1;
    
  }
  
  .review_slider .slick-next{
    position: absolute;
    right: 70px;
    bottom: 40PX;
    z-index: 1;
    transition: .5s;
    
  }
  
  .review_slider rect{
    transition: s;
  }
  .review_slider .slick-next:hover rect{
    fill: #085BD8;
  }
  .review_slider .slick-next:hover path{
    stroke: #ffffff;
  }
  .review_slider .slick-prev:hover rect{
    fill: #085BD8;
  }
  .review_slider .slick-prev:hover path{
    stroke: #ffffff;
  }
  
  
  
  
  /* Client review section ended  */
  
  



/* how_we_work ------------------- */


.how_we_work_contents{
    padding: 0px 50px;
  }
  #how_we_work h2{
    margin-top: 35px;
    
    max-width: 700px;
    margin: auto;
    width: 100%;
    margin-bottom: 30px;

  
  }
  
  .how_we_work_contents a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #085BD8;
  
  }
  
  .how_we_work_contents a  span{
    margin-left: 10px;
  }
  
  .how_we_work_contents p{
    font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #282938;
  opacity: 0.7;
  }
  
  .how_we_work_contents .card{
    min-height: 236px;
    background: #F6F6F9;
    border-radius: 23px;
    border: none;
    padding: 40px;
    width: 100%;
    margin-bottom: 23px;
  
  }
  .how_we_work_contents .card h3{
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #282938
  }
  .how_we_work_contents .card p{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #282938;
    opacity: 0.7;
  }
  /* how_we_work section ended  */


.card2{
    background: #FFFFFF;
border: 1px solid rgba(40, 41, 56, 0.2); 
}
            #case_banner{
                min-height: 350px;
                background: linear-gradient(89.89deg, #085BD8 0.1%, #052D68 99.92%);
                border-bottom: 1px solid #E2E2E2;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            #case_banner h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 140%;
                color: #FFFFFF;

            }

            #case_banner  p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                /* or 175% */

                text-align: center;

                color: #FFFFFF;

                opacity: 0.8;
                max-width: 742px;
                width: 100%;
                margin-top: 10px;
            }

        #case_banner svg rect{
            stroke: white !important;
        }
        
        .card2_heading h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */


            /* BLACK/500 */

            color: #232E52;
        }

        .card2 p{
            font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #282938;
opacity: 0.4;
        }

.card2 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FF3468;
    text-decoration: none;
}

.card2 h2 a{
    color: black !important;
}

.bg-dark{
    background: rgba(40, 41, 56, 0.1) !important;; 
}
.badge{
    color: black;
    padding: 5px 8px;
}
.card2 {
    margin-bottom: 24px;
}

.card2 .date{
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #232E52;
}



/* #FAQ section has been started  */

.accordion-button:not(.collapsed)::after {
    background-image:url('../images/icons/+.svg') !important;
    height: 16px;
    width: 16px;
    background-size: cover;


}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    height: 16px;
    width: 16px;
    margin-left: auto;
    content: "";
    background-image:url('../images/icons/+.svg') !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    background-size: cover;
    transform: rotate(-45deg);

}

#faq .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
    background-color: none;
}

#faq .accordion-item {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #ECECF1;
}

#faq .accordion-item h2{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #282938;

}

#faq .accordion-button{
    padding: 18px 0px;
    padding-right: 8px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;

}
#faq .accordion-body{
  padding: 0px;
  padding-left: 77px;
}
#faq .accordion-body p{
  max-width: 624px;
  width: 100%;
}
#faq .accordion-item span{
  padding-left: 0px;
  padding-right: 53px;
  font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #085BD8;
}

.accordion-button:not(.collapsed) {
    color: #282938;
    background-color: transparent;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

/* #FAQ section has been started ended   */


/* Contact section has been started  */


.contact_left{
    position: relative;
    background: url(/assets/images/contact_form/contact_banner.webp);
    background-position: center;
    min-height: 691px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
  
  }
  
  .contact_left .overlay{
  position: absolute;
  background: linear-gradient(329.39deg, #085BD8 -10.96%, rgba(8, 91, 216, 0.4) 103.96%);
  width: 100%;
  height: 100%;
  }
  
  
  .contact_left .overlay_contents{
    max-width: 464px;
    width: 100%;
    margin: auto;
    margin-top: 96px;
  }
  .contact_left .overlay_contents h2{
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #FFFFFF;
  }
  
  .contact_left .overlay_contents p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 24px;
  }
  
  .contact_right  .form-contents{
    max-width: 432px;
    width: 100%;
  }
  
  .contact_right  .form-contents h5{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #3C3C3C;
    margin-bottom: 5px;
  }
  .contact_right  .form-contents p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #67696D;
  }
  
  .contact_right  .form-contents input{
    padding: 18px 0px;
    padding-left: 32px;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
  }
  
  .form-contents input ::placeholder{
    color:#67696D;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  .form-contents label{
    color:#67696D;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #085bd8;
      border-color: #085bd8;
      /* font-family: Manrope; */
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      border-radius: 50px;
      padding: 16px 0px;
      transition: 1s;
  }
  
  #contact .btn-primary{
    margin-top: 40px;
  }
  
  .btn-primary:hover {
      background-color: #FFFFFF;
      color: #085bd8;
  }
  
  .get_in_touch a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #085BD8;
  }
  
  #contact .get_in_touch{
    margin-top: 28px;
  }
  /* Contact section has been ended  */



/* Price card has been started  */
.pricing .row>div{
    margin: auto;
}
.price_card{
    border: 0.5px solid rgba(40, 41, 56, 0.2);
    border-radius: 20px;
    padding: 40px;
    min-height: 516px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 20px;
  }
  
  .price_card h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #282938;
  
  }
  
  .price_card h1{
    font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  
  /* Secondary Color */
  
  color: #FF3468;
  }
  
  .price_card small{
    font-size: 18px;
  }
  .price_card .blue_btn{
    width: 80%;
  }
  
  .price_card  .details svg path{
    color: #c6c6cc;
  }
  .price_card  .details p{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #c6c6cc;
  }
  
  .included svg path{
    stroke: black !important;
  }
  .included  {
  color: black !important;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .ball {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    
  border-radius: 20px;
  transition: .5s;
  }
  
  
  
  
  .slider.round {
    border-radius: 20px !important;
  
  }
  
  .slider.round {
    border-radius: 50%;
  }
  
  .toogle_active .ball{
    -webkit-transform: translateX(32px);
      -ms-transform: translateX(32px);
      transform: translateX(32px);
  }
  
  .toogle_active  .slider{
    background-color:#085BD8!important;
  }
  
  
  .toogle{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin: 30px 0px;
    
  
  }
  
  .pricing_heading  h3{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  /* identical to box height, or 160% */
  
  
  /* Body Text Color */
  
  color: #282938;
  }

  /* Price card has been ended  */

  /* Tab wrapper css  */
  .tab_search {
    position: relative;
  }

  .tab_search input{
   padding:10px  40px;
   background: #FAFAFA;
border-radius: 10px;
border: none;
  }
  .tab_search svg{
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .tab_wrapper button{
    background-color: transparent;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #085BD8;
  }

  .tab_wrapper .nav-link.active{
    background-color: white;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #085BD8;
  }

/* Footer section code has been started  */
#footer{
    background: #085BD8;
  }
  #footer .big_footer{
    min-height: 509px;
  }
  
  
  #footer .footer_left p.about_company{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 576px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 27px;}
  
  #footer .contact_icon svg{
    margin-top: 8px;
  }
  
  #footer .contact_details p:nth-of-type(1){
    margin-bottom: 0px;
    margin-left: 16px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
  
  }
  
  
  
  #footer .contact_details p:nth-of-type(2){
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 16px;
  
  }
  
  #footer .tiny_footer{
    padding: 0px;
  }
  
  #footer .socials ul{
    padding-left: 0px;
  }
  #footer .tiny_footer_left .useful_links{
    padding-left: 0px;
  }
  #footer .tiny_footer_left .useful_links ul{
    padding-left: 0px;
  }
  #footer .tiny_footer_left .useful_links li {
  list-style: none;
  display: inline;
  }
  #footer .tiny_footer_left .useful_links li a{
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
      padding-right: 40px;
  }
  
  
  #footer .newsletter_and_socials{
    max-width: 457px;
    width: 100%;
    margin: auto;
  
  
  }
  
  #footer .footer_right h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  #footer .footer_right p.newsletter_text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 457px;
  width: 100%;
  }
  
  
  #footer .tiny_footer_right{
    max-width: 457px;
  width: 100%;
  }
  
  #footer .tiny_footer_right p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  #footer .footer_right input{
      border-radius: 50px;
      padding: 15px 12px;
      background-image: url('/assets/images/icons/sms.svg') !important;
      background-size:contain;
      background-repeat: no-repeat !important;
      text-indent: 20px;
      /* Extra Styling */
      transition:0.3s;
      background: #085BD8;
      background-origin: content-box;
      background-position: left;
      color: white;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
  
  }
  
  #footer .footer_right input::placeholder{
    color: white;
  }
  
  .subcription_form{
    position: relative;
  }
  
  .btn_subscription{
    position: absolute;
      right: 5px;
      top: 5.5px;
      background: #608AF4;
      border-radius: 30px;
      border: none;
      color: #FFFFFF;
      padding: 8px 15px;
  }
  
  .socials{
    margin-top: 40px;  
  }
  .socials li {
  
      margin-left: 10px;
      display: inline;
      list-style: none;
  
  }
  
  
  .footer_contact_elements{
    margin: auto;
  }
  
  /* Footer section coding has been ended  */
  
  
  

  